/* Import des mixns */
@import "mixin.scss";


/*****************/

* {
    box-sizing: border-box;
}

/*----- variable à réutiliser--------------*/

$bkg-color: #ce7d4b;

/*----------------------------------------*/

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.pdt_focus {
    margin-left: 20px;
}

@include header;

/*------------- carrousel **********************/

/*
#container {
    display: flex;
    flex-direction: row;
    vertical-align: center;
    justify-content: center;
    background-color: $bkg-color;
    width: 550px;
    padding: 5px;
    margin-left: 350px;
    overflow:hidden;
}   
*/
.scroll-container {
    display: block;
    width: 550px;
    height: 300px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    white-space: nowrap;
}

scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 5em;
}








