@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*----- variable à réutiliser--------------*/
/*----------------------------------------*/
body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  font-family: Roboto, Arial, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

header {
  background-color: #f3e9f1;
  font-size: 18px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

main {
  margin-top: 150px;
}

/***** zone pour l'icône du caddie Orinoco et son dégradé de couleur ******/
.fa-shopping-cart {
  font-size: 50px;
  padding-left: 10px;
}

nav.m1 .gradient {
  font-size: 150%;
  display: inline-block;
  position: relative;
  color: black;
  background: #fff;
  mix-blend-mode: multiply;
}

nav.m1 .gradient:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, #ce7d4b, #955eeb);
  background-image: -webkit-gradient(linear, left top, right top, from(#ce7d4b), to(#955eeb));
}

nav.m1 .gradient:before {
  mix-blend-mode: screen;
}

/************************************************************/
/* Menu de navigation *************************************/
h1 {
  font-family: 'Merienda One', cursive, Arial, Helvetica, sans-serif;
  color: black;
  font-size: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 25px;
  margin: 15px;
}

.navigation {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 15px;
  padding-left: 10px;
  margin-left: 400px;
}

.nav-pages a {
  padding: 5px 15px;
}

.nav-pages a:active {
  background-color: #e4e4e4;
}

.nav-pages a:focus, .nav-pages a:hover {
  -webkit-box-shadow: 5px 5px #ce7d4b;
          box-shadow: 5px 5px #ce7d4b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/************************************************************/
.bkg-color {
  background-color: #ce7d4b;
  border-radius: 10% 10%;
  color: white;
  border-color: cadetblue;
}

h2 {
  margin: 35px;
}

h3 {
  margin: 15px;
  padding: 5px;
  font-size: 18px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

a h3:active, a h3:focus, a h3:hover {
  -webkit-box-shadow: 5px 5px #ce7d4b;
          box-shadow: 5px 5px #ce7d4b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a h3 {
  margin: 35px;
}

p {
  margin: 15px;
  padding: 5px;
  font-size: 15px;
  font-style: italic;
}

.fa-shopping-bag {
  font-size: 30px;
  padding-left: 15px;
}

img {
  width: 25%;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  margin: 5px;
  padding: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product {
  margin: 25px;
}

.product_list {
  width: 100%;
}

.furniture img, .teddybear img {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}
/*# sourceMappingURL=style.css.map */