/* Import des mixns */
@import "mixin.scss";


/*****************/

* {
    box-sizing: border-box;
}

/*----- variable à réutiliser--------------*/

$bkg-color: #ce7d4b;

/*----------------------------------------*/

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.pdt_focus {
    margin-left: 20px;
}

@include header;


.scroll-container {
    display: block;
    width: 500px;
    height: 300px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: $bkg-color;
    padding-top: 10px;
    padding-left: 50px;
}

img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 5px;
}

figcaption {
    padding: 15px;
    width: 80%;
    color: white;
}






