* {
    box-sizing: border-box;
}

/*----- variable à réutiliser--------------*/

$bkg-colo: #ce7d4b;

/*----------------------------------------*/

body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1200px;
    font-family: Roboto, Arial, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

header {
    background-color: rgb(243, 233, 241);
    font-size: 18px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

main {
    margin-top: 150px;
}

/***** zone pour l'icône du caddie Orinoco et son dégradé de couleur ******/
.fa-shopping-cart {
    font-size: 50px;
    padding-left: 10px;
}

nav.m1 .gradient {
    font-size: 150%;
    display: inline-block;
    position: relative;
    color: black;
    background: #fff;
    mix-blend-mode: multiply;
}

nav.m1 .gradient:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, #ce7d4b, #955eeb);
    background-image: -webkit-gradient(linear, left top, right top, from(#ce7d4b), to(#955eeb));
}

nav.m1 .gradient:before {
    mix-blend-mode: screen;
}

/************************************************************/
/* Menu de navigation *************************************/
h1 {
    font-family: 'Merienda One', cursive, Arial, Helvetica, sans-serif;
    color: black;
    font-size: 30px;
    display: inline-flex;
    padding: 25px;
    margin: 15px;
}

.navigation {
    display: inline-flex;
    justify-content: space-around;
    font-size: 15px;
    padding-left: 10px;
    margin-left: 400px;
}

.nav-pages a {
    padding: 5px 15px;

    &a:active{
        background-color: #e4e4e4;
    }
}

.nav-pages a:focus, .nav-pages a:hover {
    box-shadow: 5px 5px $bkg-colo;
    transition: 0.5s;
}

/************************************************************/

.bkg-color {
    background-color: $bkg-color;
    border-radius: 10% 10%;
    color: white;
    border-color: cadetblue;
}

h2 {
    margin: 25px;
    text-decoration: underline $bkg-color;
}

h3 {
    margin: 10px;
    padding: 5px;
    font-size: 18px;
    width: fit-content;
}

a h3 {
    margin: 30px;

    &:active, &:focus, &:hover {
        box-shadow: 5px 5px $bkg-colo;
        transition: 0.5s;
    }
}

p {
    margin: 15px;
    padding: 5px;
    font-size: 15px;
    font-style: italic;
}

.fa-shopping-bag {
    font-size: 30px;
    padding-left: 15px;
}

img {
    width: 25%;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     &:hover {
        transform: scale(0.9);
    }
}

.product {
    margin: 20px;
}

.product_list {
    width: 100%;
}

.furniture img, .teddybear img {
    filter: opacity(0.5);
}
