/* Import des mixns */
@import "mixin.scss";


/*****************/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1200px;
    font-family: Roboto, Arial, sans-serif;
}

/*----- variable à réutiliser--------------*/

$bkg-color: #ce7d4b;

/*----------------------------------------*/

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.pdt_focus {
    margin-left: 20px;
}

@include header;





#container {
    display: grid;
    grid-template-columns: 1fr 1fr 100px;
    grid-template-rows: 100px 100px;
}
 
.scroll-container {
    /*display: block;*/
    width: 550px;
    height: 350px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: whitesmoke;
    padding-top: 50px;
    padding-left: 50px;
}

img {
    width: 50%;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &:hover {
        transform: scale(0.9);
    }
}

figcaption {
    padding: 10px;
    width: 80%;
    color: black;
}

#container-select {
    /*display: none;*/
    padding-right: 10px;
    padding-left: 600px;
    font-size: 1rem;
}

select {
    font-size: .9rem;
}





